<config>
    <modules>
        <Uday_Uday>    
            <version>1.0.1</version>
        </Uday_Uday>
    </modules>
    <frontend>
        <layout>
            <updates>
                <uday>
                    <file>uday.xml</file>
                </uday>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <uday>
                <class>Uday_Uday_Model</class>
                <resourceModel>uday_resource</resourceModel>
            </uday>
            <uday_address>
                <class>Uday_Uday_Model_Sample</class>
                <resourceModel>uday_address_resource</resourceModel>
            </uday_address>
            <uday_resource>
                <class>Uday_Uday_Model_Resource</class>
                <deprecatedNode>uday_mysql4</deprecatedNode>
                <entities>
                    <uday>
                        <table>uday</table>
                    </uday>
                    <uday_price>
                        <table>uday_price</table>
                    </uday_price>
                    <uday_address>
                        <table>uday_address</table>
                    </uday_address>
                </entities>
            </uday_resource>
        </models>
        <resources>
            <uday_setup>
                <setup>
                    <module>Uday_Uday</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uday_setup>
            <uday_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uday_write>
            <uday_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uday_read>
        </resources>
        <blocks>
            <uday>
                <class>Uday_Uday_Block</class>
            </uday>
        </blocks>
        <helpers>
           <uday>
                  <class>Uday_Uday_Helper</class>
            </uday>
        </helpers>
    </global>
    <admin>
        <routers>
            <uday>
                <use>admin</use>
                <args>
                    <module>Uday_Uday</module>
                    <frontName>uday</frontName>
                </args>
            </uday>
        </routers>
    </admin>
</config>
