<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Uday_Uday>
			<version>1.0.2</version>
		</Uday_Uday>
	</modules>
	<global>
		<blocks>
			<uday>
				<class>Uday_Uday_Block</class>
			</uday>
		</blocks>
		<helpers>
			<uday>
				<class>Uday_Uday_Helper</class>
			</uday>
		</helpers>
		<models>
			<uday>
				<class>Uday_Uday_Model</class>
				<resourceModel>uday_resource</resourceModel>
			</uday>
			<uday_resource>
				<class>Uday_Uday_Model_Resource</class>
				<entities>
	                <uday>
	                    <table>uday</table>
	                </uday>
	                <uday_datetime>
	                	<table>uday_datetime</table>
		            </uday_datetime>
		            <uday_decimal>
		                <table>uday_decimal</table>
		            </uday_decimal>
		            <uday_int>
		                <table>uday_int</table>
		            </uday_int>
		            <uday_text>
		                <table>uday_text</table>
		            </uday_text>
		            <uday_varchar>
		                <table>uday_varchar</table>
		            </uday_varchar>
		            <uday_char>
		                <table>uday_char</table>
		            </uday_char>
		            <eav_attribute>
                        <table>uday_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</uday_resource>
		</models>
		<resources>
			<uday_setup>
				<setup>
					<module>Uday_Uday</module>
					<class>Uday_Uday_Model_Resource_Setup</class>
				</setup>
			</uday_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<uday>
				<title>Uday</title>
				<sort_order>120</sort_order>
				<children>
					<uday>
						<title>Manage Uday</title>
						<sort_order>100</sort_order>
						<action>uday/Adminhtml_Uday</action>
					</uday>
					<uday_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>uday/Adminhtml_Uday_Attribute</action>
					</uday_attribute>
					<uday_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>uday/Adminhtml_Uday_Set</action>
					</uday_set>
				</children>
			</uday>
		</menu>
		<layout>
			<updates>
				<uday>
					<file>uday.xml</file>
				</uday>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<uday>
				<use>admin</use>
				<args>
					<module>Uday_Uday</module>
					<frontName>uday</frontName>
				</args>
			</uday>
		</routers>
	</admin>
</config>