<config>
    <modules>
        <Uday_Eavmgmt>    
            <version>1.0.1</version>
        </Uday_Eavmgmt>
    </modules>
    <frontend>
        <!-- <routers>
            <Eavmgmt>
                <use>standard</use>
                <args>
                    <module>Uday_Eavmgmt</module>
                    <frontName>eavmgmt</frontName>
                </args>
            </Eavmgmt>
        </routers> -->
        <layout>
            <updates>
                <Eavmgmt module="Uday_Eavmgmt">
                    <file>Uday_Eavmgmt.xml</file>
                </Eavmgmt>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <eavmgmt>
                <class>Uday_Eavmgmt_Model</class>
                <resourceModel>eavmgmt_resource</resourceModel>
            </eavmgmt>
            <eavmgmt_resource>
                <class>Uday_Eavmgmt_Model_Resource</class>
                <deprecatedNode>eavmgmt_mysql4</deprecatedNode>
                <entities>
                    <eavmgmt>
                        <table>eavmgmt</table>
                    </eavmgmt>
                    <eavmgmt_address>
                        <table>eavmgmt_address</table>
                    </eavmgmt_address>
                </entities>
            </eavmgmt_resource>
        </models>
        <resources>
            <eavmgmt_setup>
                <setup>
                    <module>Uday_Eavmgmt</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eavmgmt_setup>
            <eavmgmt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eavmgmt_write>
            <eavmgmt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eavmgmt_read>
        </resources>
        <blocks>
            <eavmgmt>
                <class>Uday_Eavmgmt_Block</class>
            </eavmgmt>
        </blocks>
        <helpers>
           <eavmgmt>
                  <class>Uday_eavmgmt_Helper</class>
            </eavmgmt>
        </helpers>
    </global>
    <admin>
        <!-- <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Uday_Eavmgmt>Uday_Eavmgmt_Adminhtml</Uday_Eavmgmt>
                    </modules>
                </args>
            </adminhtml>
        </routers> -->
        <routers>
            <Eavmgmt>
                <use>admin</use>
                <args>
                    <module>Uday_Eavmgmt</module>
                    <frontName>eavmgmt</frontName>
                </args>
            </Eavmgmt>
        </routers>
         <layout>
            <updates>
                <eavmgmt>
                    <file>eavmgmt.xml</file>
                </eavmgmt>
            </updates>
        </layout>
    </admin>
</config>